<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>项目管理</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <script src="base/plugins/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="base/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="base/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="css/common.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div id="app">

    <el-container>
        <el-header >
            <div th:replace ="~{common/navbar::navbar}"></div>
        </el-header>
        <el-container>
            <el-aside width="200px"><div th:insert="~{item/aside::aside}" ></div></el-aside>
            <el-main>
                <el-card shadow="hover">
                    <div>
                        <el-divider content-position="left">项目</el-divider>
                    </div>
                    <div id="table">
                        <template>
                            <el-table :data="itemVos" height="520px" style="width: 100%" border>
                                <el-table-column
                                        type="selection"
                                        width="55">
                                </el-table-column>
                                <el-table-column fixed prop="index" width="55">
                                    <template slot="header" slot-scope="scope">
                                        <i class="el-icon-s-promotion" style="padding-left: 12px;"></i>
                                    </template>

                                    <template slot-scope="scope">&emsp;{{(currentPage-1)*size+scope.$index+1}}</template>

                                    <!--<template slot-scope="scope">&emsp;{{scope.$index+1}}</template>-->
                                </el-table-column>
                                <el-table-column fixed prop="item.itemName" label="项目名" width="300" align='center'></el-table-column>
                                <el-table-column  label="创建人" width="120" align='center'>
                                    <template slot-scope="scope">
                                        <div v-for="(member, index) in scope.row.itemMembers" :key="index">
                                            <span v-if="member.memberType==1">用户ID：{{member.itemMemberId}}</span>
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column  label="参与成员" width="220" align='center'>
                                    <template slot-scope="scope">
                                        <div v-for="(member, index) in scope.row.itemMembers" :key="index">
                                            <span v-if="member.memberType==0">用户ID：{{member.itemMemberId}}</span>
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column  label="完成状况" width="120" align='center'>
                                    <template slot-scope="scope">
                                        <span v-if="scope.row.item.itemFinish==0">未完成</span>
                                        <span v-else>已完成</span>
                                        <!--<div v-for="(member, index) in scope.row.itemMembers" :key="index">
                                        </div>-->
                                    </template>
                                </el-table-column>
                                <el-table-column  label="归档" width="120" align='center'>
                                    <template slot-scope="scope">
                                        <span v-if="scope.row.item.itemFinish==0">未完成</span>
                                        <span v-else>已完成</span>
                                        <!--<div v-for="(member, index) in scope.row.itemMembers" :key="index">
                                        </div>-->
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        fixed="right"
                                        label="操作"
                                        width="120">
                                    <template slot-scope="scope">

                                        <el-button @click="showClick(scope.row)" type="text" size="small">查看</el-button>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        fixed="right"
                                        label="归档"
                                        width="60"
                                        align='center'>
                                    <template slot-scope="scope">
                                        <div v-if="scope.row.item.itemFinish==1">
                                            <el-button type="text" @click="file(scope.row)" size="small">恢复</el-button>
                                        </div>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <div class="block">
                                <el-pagination
                                        @size-change="handleSizeChange"
                                        @current-change="handleCurrentChange"
                                        :current-page="currentPage"
                                        :page-sizes="[5, 10, 20, 50]"
                                        :page-size="10"
                                        layout="total, sizes, prev, pager, next, jumper"
                                        :total="total">
                                </el-pagination>
                            </div>
                        </template>
                    </div>
                    <!--查看项目详情-->
                    <el-dialog title="项目详情" :visible.sync="open">
                        <template>
                            <el-card class="box-card" style="margin-top: 10px; margin-right: 20px; margin-left: 20px;">
                                <div slot="header" class="clearfix">
                                    <span>项目详情</span>
                                </div>
                                <el-form :model="itemDetail"  ref="form" label-width="100px" class="demo-ruleForm">
                                    <el-form-item label="项目名称"  >
                                        <el-input v-model="itemDetail.item.itemName" :disabled="true"></el-input>
                                    </el-form-item>
                                    <el-form-item label="项目描述" >
                                        <el-input type="textarea" v-model="itemDetail.item.idescribe" :disabled="true"></el-input>
                                    </el-form-item>
                                    <el-form-item label="可见范围"  >
                                        <div v-if="itemDetail.item.scope==0">
                                            <el-input type="textarea" placeholder="私有：只有加入成员才能看到此项目" :disabled="true"></el-input>
                                        </div>
                                        <div v-if="itemDetail.item.scope==1">
                                            <el-input placeholder="公开：企业所有成员都能看到此项目" :disabled="true"></el-input>
                                        </div>

                                        </el-input>
                                    </el-form-item>
                                </el-form>
                            </el-card>
                        </template>
                    </el-dialog>
                </el-card>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>

<script >
    new Vue({
        el: '#app',
        data: function() {
            return {
                open: false,
                itemVos:[],
                itemDetail:{
                    item:{
                        itemName:"",
                        idescribe:"",
                        scope:"",
                    },
                    member:[]
                },
                total:0,
                currentPage: 1,
                size:10,
                index:0
            };
        },
        created() {
            const that=this;
            that.init(1,10);
        },
        methods: {
            init(currentPage,size){
                const that=this;
                axios.get('http://localhost:8086/item/getPageBySort',{
                    params:{
                        sort:1,
                        thisPage:currentPage,
                        limit:size
                    }
                }).then(req => {
                    that.itemVos=req.data.itemVos;
                    that.total=req.data.total;
                }).catch(req =>{
                })
            },
            //改变页面显示数
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.size=val;
                this.init(1,val);
            },
            //改变页面当前页
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.currentPage=val;
                this.init(val,this.size);

            },
            //查看按钮
            showClick(row) {
                this.open=true;
                this.itemDetail=row;
                console.log(this.itemDetail)
            },

            file(row) {
                this.$confirm('此操作将恢复该归档文件，是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    console.log(row.item.itemId)
                    //发送归档请求
                    const that=this;
                    axios.put('http://localhost:8086/item/updateBySort',{
                        itemId:row.item.itemId,
                        sort:0
                    })
                        .then(req => {
                            this.$message({
                                type: 'success',
                                message: '归档成功!'
                            });
                            that.init(1,10);
                        }).catch(req =>{
                        console.log("失败")
                    })

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消归档'
                    });
                });
            }
        }
    })
</script>

</html>